@model ProfileSidebarViewModel

<div class="profile-sidebar">
        <div class="profile-avatar-container">
                <a href="javascript:void(0);" class="profile-avatar-link" id="uploadLink">
                        <img src="@Model.ProfilePicture" alt="avatar" class="profile-avatar" id="currentAvatar">
                </a>
                <h5 class="profile-name">@Model.UserName</h5>
        </div>
        <ul class="profile-menu">

                <li class="profile-menu-item  @(Model.ActivePage==" Profile".Trim() ? " active" : "" )"><a
                                asp-action="Profile">Profil</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " Security".Trim() ? "active" : "" )"><a
                                asp-action="Security">Hesap Güvenliği</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " Message".Trim() ? "active" : "" )"><a
                                asp-action="Message">Mesajlar</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " Announcement".Trim() ? "active" : "" )"><a
                                asp-action="Announcement">Duyurular</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " CloseAccount".Trim() ? "active" : "" )"><a
                                href="javascript:void(0);" id="closeAccountLink">Hesabı kapat</a></li>

        </ul>
</div>