@model ProfileSidebarViewModel

<div class="profile-sidebar">
        <div class="profile-avatar-container">
                <a href="javascript:void(0);" class="profile-avatar-link" id="uploadLink">
                        <img src="@Model.ProfilePicture" alt="avatar" class="profile-avatar" id="currentAvatar">
                </a>
                <h5 class="profile-name">@Model.UserName</h5>
        </div>
        <ul class="profile-menu">

                <li class="profile-menu-item @(Model.ActivePage == " Profile" ? "active" : "" )"><a
                                href="/user/edit-profile/">Profil</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " EditPhoto" ? "active" : "" )"><a
                                href="/user/edit-photo/">Fotoğraf</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " EditAccount" ? "active" : "" )"><a
                                href="/user/edit-account/">Hesap Güvenliği</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " PaymentMethods" ? "active" : "" )"><a
                                href="/user/edit-payment-methods/">Ödeme yöntemleri</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " Notifications" ? "active" : "" )"><a
                                href="/user/edit-notifications/">Bildirimler</a></li>
                <li class="profile-menu-item @(Model.ActivePage == " CloseAccount" ? "active" : "" )"><a
                                href="/user/close-account/">Hesabı kapat</a></li>
        </ul>
</div>