@model List<PostViewModel>
    @{
    ViewBag.Title = "Paylaşımlarım";
    }
    <link rel="stylesheet" href="~/css/Post/manage.css">
    <div class="container2">
        <!-- Dashboard Cards -->
        <div class="dashboard">
            <div class="card">
                <h3>Toplam Paylaşım</h3>
                <p>@ViewBag.TotalShares </p>
            </div>
            <div class="card">
                <h3>Toplam Katılımcılar</h3>
                <p>@ViewBag.TotalParticipation</p>
            </div>


            <div class="card">
                <h3>Toplam Yemek</h3>
                <p>@ViewBag.TotalFood</p>
            </div>
        </div>
        <div class="share-button-container">
            <a class="btn btn-share" asp-controller="Post" asp-action="Share">Yeni Paylaşım</a>
        </div>
        <div class="tabs">
            <button class="tab-button active" onclick="openTab('active')">Aktif Paylaşımlar</button>
            <button class="tab-button" onclick="openTab('past')">Geçmiş Paylaşımlar</button>
        </div>
        <!-- Post List Section -->
        <div id="active" class="tab-content active">
            <div class="post-list">
                <h2>Paylaşımlar</h2>
                @foreach (var post in Model.Where(p => p.PostStatus )){
                var participation=post.Participants.Count();
                var foods=post.RelatedFoods.Count();
                <div class="post-card">
                    <div class="post-header">
                        <div>
                            <a asp-action="Details" asp-route-postId="@post.PostId"><strong>@post.Title</strong></a>
                            <p>@post.Description</p>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a class="btn btn-manage" asp-controller="Post" asp-action="Edit"
                            asp-route-postId="@post.PostId">Düzenle</a>
                        <a class="btn btn-requests" asp-controller="Participant" asp-action="Manage"
                            asp-route-postId="@post.PostId">Katılımcılar
                            (@participation)</a>
                        <a class="btn btn-edit-meal" asp-controller="Food" asp-action="Post"
                            asp-route-postId="@post.PostId">Yemekler
                            (@foods)</a>
                        <a class="btn btn-delete" onclick="deletePost('@post.PostId')">Sil</a>
                    </div>
                </div>}
            </div>
        </div>
        <div id="past" class="tab-content">
            <div class="post-list">
                <h2>Geçmiş Paylaşımlar</h2>
                @foreach (var post in Model.Where(p => !p.PostStatus )) {
                <div class="post-card">
                    <div class="post-header">
                        <div>
                            <a asp-action="Details" asp-route-postId="@post.PostId"><strong>@post.Title</strong></a>
                            <p>@post.Description</p>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a class="btn btn-delete" onclick="deletePost('@post.PostId')">Sil</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    @section Scripts {
    <script>
        function openTab(tabName) {
            var i;
            var x = document.getElementsByClassName("tab-content");
            var btns = document.getElementsByClassName("tab-button");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < btns.length; i++) {
                btns[i].classList.remove("active");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.classList.add("active");
        }
        function deletePost(postId) {
            if (confirm('Bu paylaşımı silmek istediğinizden emin misiniz?')) {

                const response = fetch(`@Url.Action("Delete","Post")?postId=${postId}`, {
                    method: 'DELETE',

                }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Paylaşım başarıyla silindi.');
                            location.reload(); // Sayfayı yenileyin
                        } else {
                            alert('Paylaşım çıkarılamadi.');
                        }
                    })


            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector(".tab-button.active").click();
        });
    </script>
    }