@model List<PostViewModel>
    <div class="container2">
        <!-- Dashboard Cards -->
        <div class="dashboard">
            <div class="card">
                <h3>Toplam Paylaşım</h3>
                <p>@ViewBag.TotalShares </p>
            </div>
            <div class="card">
                <h3>Toplam Katılımcılar</h3>
                <p>@ViewBag.TotalParticipation</p>
            </div>


            <div class="card">
                <h3>Toplam Yemek</h3>
                <p>@ViewBag.TotalFood</p>
            </div>
        </div>
        <div class="tabs">
            <button class="tab-button active" onclick="openTab('active')">Aktif Paylaşımlar</button>
            <button class="tab-button" onclick="openTab('past')">Geçmiş Paylaşımlar</button>
        </div>
        <!-- Post List Section -->
        <div id="active" class="tab-content active">
            <div class="post-list">
                <h2>Paylaşımlar</h2>
                @foreach (var post in Model.Where(p => p.PostStatus )){
                var participation=post.Participants.Count();
                var foods=post.RelatedFoods.Count();
                <div class="post-card">
                    <div class="post-header">
                        <div>
                            <a asp-action="Details" asp-route-postId="@post.PostId"><strong>@post.Title</strong></a>
                            <p>@post.Description</p>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a class="btn btn-manage" asp-controller="Post" asp-action="Edit"
                            asp-route-postId="@post.PostId">Düzenle</a>
                        <a class="btn btn-requests" asp-controller="Participant" asp-action="Manage"
                            asp-route-postId="@post.PostId">Katılımcılar
                            (@participation)</a>
                        <a class="btn btn-edit-meal" asp-controller="Food" asp-action="Post"
                            asp-route-postId="@post.PostId">Yemekler
                            (@foods)</a>
                        <a class="btn btn-delete" onclick="deletePost('@post.PostId')">Sil</a>
                    </div>
                </div>}
            </div>
        </div>
        <div id="past" class="tab-content">
            <div class="post-list">
                <h2>Geçmiş Paylaşımlar</h2>
                @foreach (var post in Model.Where(p => !p.PostStatus )) {
                <div class="post-card">
                    <div class="post-header">
                        <div>
                            <a asp-action="Details" asp-route-postId="@post.PostId"><strong>@post.Title</strong></a>
                            <p>@post.Description</p>
                        </div>
                    </div>
                    <div class="btn-container">
                        <a class="btn btn-delete" onclick="deletePost('@post.PostId')">Sil</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    @section Scripts {
    <script>
        function openTab(tabName) {
            var i;
            var x = document.getElementsByClassName("tab-content");
            var btns = document.getElementsByClassName("tab-button");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < btns.length; i++) {
                btns[i].classList.remove("active");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.classList.add("active");
        }
        function deletePost(postId) {
            if (confirm('Bu paylaşımı silmek istediğinizden emin misiniz?')) {

                const response = fetch(`@Url.Action("Delete","Post")?postId=${postId}`, {
                    method: 'DELETE',

                }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Paylaşım başarıyla silindi.');
                            location.reload(); // Sayfayı yenileyin
                        } else {
                            alert('Paylaşım çıkarılamadi.');
                        }
                    })


            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector(".tab-button.active").click();
        });
    </script>
    }
    <style>
        .container2 {
            max-width: 1250px;
            margin: 0 auto;
            padding: 32px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .dashboard {
            display: flex;
            justify-content: space-between;
            margin-bottom: 36px;
        }

        .dashboard .card {
            flex: 1;
            margin: 0 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #007bff;
            text-align: center;
            color: #ffffff;
            transition: background 0.3s ease-in-out;
        }

        .dashboard .card:hover {
            background-color: #0056b3;
        }

        .dashboard .card h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .post-list {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .post-list h2 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #343a40;
            text-align: center;
        }

        .post-card {
            background: #f8f9fa;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background 0.3s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .post-card:hover {
            background: #e2e6ea;
        }

        .post-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .post-header div {
            max-width: 70%;
        }

        .post-header a {
            text-decoration: none;
            color: #007bff;
            font-size: 1.2em;
            transition: color 0.3s ease-in-out;
        }

        .post-header a:hover {
            color: #0056b3;
        }

        .btn {
            padding: 10px 15px;
            width: 150px;
            border: none;
            border-radius: 5px;
            font-size: 0.9em;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            color: #ffffff;
            margin-right: 10px;
        }

        .btn-manage {
            background-color: #007bff;
        }

        .btn-manage:hover {
            background-color: #0056b3;
        }

        .btn-requests {
            background-color: #28a745;
        }

        .btn-requests:hover {
            background-color: #218838;
        }

        .btn-delete {
            background-color: #dc3545;
        }

        .btn-delete:hover {
            background-color: #c82333;
        }

        .btn-edit-meal {
            background-color: #ffc107;
            color: #343a40;
        }

        .btn-edit-meal:hover {
            background-color: #e0a800;
        }

        .btn-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }

        .tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .tab-button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            background-color: #007bff;
            color: #ffffff;
        }

        .tab-button.active {
            background-color: #0056b3;
        }

        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }
    </style>