@model PostFoodListViewModel
@{
ViewBag.Title = "Yemek Yönetimi";}
<link rel="stylesheet" href="~/css/Food/post.js">
<div class="container">
    <div class="meal-management">
        <h2>@Model.PostName Yemek Yönetimi</h2>

        <div class="form-group">
            <label for="foodName">Yemek Adı</label>
            <input type="text" class="form-control" id="foodName" required>
            <label for="foodDescription">Yemek Açıklaması</label>
            <textarea class="form-control" id="foodDescription" rows="3"></textarea>
            <button type="button" class="btn btn-primary" onclick="addMeal()">Ekle</button>
        </div>

        <!-- Meal List Section -->
        <div class="meal-list">
            <h4>Mevcut Yemekler</h4>
            <ul class="list-group">
                <!-- Repeat Meal Items -->
                @foreach(var food in Model.FoodList){
                <li class="list-group-item">
                    <div class="meal-info">
                        <span class="meal-name">@food.Title</span>
                        <span class="meal-description">@food.Description</span>

                    </div>
                    <div>
                        <button class="btn btn-update btn-sm"
                            onclick="updateMeal('@food.FoodId', '@food.Title', '@food.Description')">Güncelle</button>
                        <button class="btn btn-remove btn-sm" onclick="removeMeal('@food.FoodId')">Sil</button>
                    </div>
                </li>}

            </ul>
        </div>
    </div>
</div>

@section Scripts{
<script>function addMeal() {
        var foodName = document.getElementById('foodName').value;
        var foodDescription = document.getElementById('foodDescription').value;


        fetch('@Url.Action("AddFood", "Food")?postId=@Model.PostId', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ Title: foodName, Description: foodDescription })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Yemek başarıyla eklendi.',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                    location.reload();
                } else {
                    Swal.fire({
                        title: 'Yemek  eklenemedi.',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function removeMeal(foodId) {
        // API çağrısı yaparak yemeği sil
        fetch('@Url.Action("DeleteFood","Food")?postId=@Model.PostId&foodId=' + foodId, {
            method: 'Delete',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Yemek başarıyla silindi.',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                    location.reload();

                } else {
                    Swal.fire({
                        title: 'Yemek silinemedi.',
                        text: data.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function updateMeal(foodId, foodName, foodDescription) {
        var newFoodName = prompt("Yeni Yemek Adı:", foodName);
        var newFoodDescription = prompt("Yeni Yemek Açıklaması:", foodDescription);

        if (newFoodName !== null || newFoodDescription !== null) {
            // API çağrısı yaparak yemeği güncelle
            fetch('@Url.Action("UpdateFood","Food")?foodId=' + foodId, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ Title: newFoodName, Description: newFoodDescription })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Yemek başarıyla güncellendi.',
                            text: data.message,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                        location.reload(); // Sayfayı yenileyin
                    } else {
                        Swal.fire({
                            title: 'Yemek güncellenemedi.',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }</script>}