<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Sofranı Paylaş</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icon/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="~/css/nprogress.css">
    <link rel="stylesheet" href="~/lib/dropzone/dropzone.min.css">

</head>

<body>
    <header>

        @Html.Partial("_Navbar")
    </header>

    <main>
        <div class="container mt-3">
            @if (TempData["ErrorMessage"] != null)
            {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
            }

        </div>
        @RenderBody()
    </main>


    @Html.Partial("_Footer")


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/lib/nprogress/nprogress.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8fnr_8wb9KuVpwj1b1hhtJGCMpQ9td5k&libraries=places"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            NProgress.start(); // Sayfa yüklenmeye başladığında NProgress'i başlat
        });

        window.onload = function () {
            NProgress.done(); // Sayfa yüklenmesi tamamlandığında NProgress'i durdur
        };
        $(document).ajaxStart(function () {
            NProgress.start();
        }).ajaxStop(function () {
            NProgress.done();
        });

    </script>

    <script src="~/lib/dropzone/dropzone.min.js"></script>
    @RenderSection("Module",required:false);
    <script>
        document.getElementById('closeAccountLink').addEventListener('click', function () {

            Swal.fire({
                title: 'Hesabınızı kapatmak istediğinizden emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, kapat!',
                cancelButtonText: 'Hayır, vazgeç'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Hesap kapatma işlemi için AJAX çağrısı
                    $.ajax({
                        url: '@Url.Action("CloseAccount", "Auth")', // Hesap kapatma aksiyonu
                        method: 'POST',
                        contentType: 'application/json',

                        success: function (response) {
                            Swal.fire(
                                'Kapatıldı!',
                                'Hesabınız başarıyla kapatıldı.',
                                'success'
                            ).then(() => {
                                window.location.href = '/';
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Hata!',
                                'Hesabınız kapatılırken bir hata oluştu.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    </script>
    @RenderSection("Scripts",required:false)

</body>

</html>